.common-button {
    width: 100%;
    background-color: white;
    border: solid 1px rgb(207, 207, 207);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    padding: 7px 7px 7px 10px;
    box-shadow: 2px 2px 2px 2px silver;
    text-align: left;
}

.common-button-complete {
    background-color: #464646;
    border: solid 1px #464646;
    color: rgb(230, 230, 230);
    text-decoration: line-through;
}