.common-card-frame {
    border: solid 1px rgb(230, 230, 230);
    border-radius: 5px;
    /* box-shadow: 2px 2px 2px 2px silver; */
    width: 420px;
    height: 630px;
    background-color: white;
}

.common-card-top {
    padding: 20px;
    padding-bottom: 0px;
    height: 185px;
}

.common-card-divider {
    border: 0;
    border-top: 1px solid rgb(230, 230, 230);
    margin: 0;
}
.common-card-bottom {
    padding: 20px;
    padding-top: 0;
    height: 395px;
    overflow-y: scroll;
}

.common-card-bottom::-webkit-scrollbar {
    width: 8px;
}
.common-card-bottom::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}