.common-card-frame {
    border: solid 1px rgb(230, 230, 230);
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px 2px silver; */
    width: 500px;
    height: 600px;
}

.common-card-top {
    padding: 20px;

}

.common-card-divider {
    padding: 20px;
    height: 1px;
    border: 0;
    padding: 0;
    border-top: 1px solid rgb(230, 230, 230);
}